<div class="ui-g-12 product-item">
    <div class="ui-g-4 ui-md-4 ui-sm-12" style="text-align:center">
        <img width="230px" height="200px" [src]="'data:image/jpg;base64,'+product.image">
    </div>

    <div class="ui-g-8 ui-md-8 ui-sm-12">
       <div class="ui-grid-row">
            <div class="ui-g-3 ui-md-3 ui-sm-6">Title:</div>
            <!-- <div class="ui-g-6 ui-md-6 ui-sm-6">{{ product.title }}</div> -->
            <div class="ui-g-6 ui-md-6 ui-sm-6">
                <input class="ui-g-12 form-input" id="title-input" type="text" value="{{product.title}}" pInputText [formControl]="form.controls['title']"/>
            </div>
        </div>
        
        <div class="ui-grid-row">
            <div class="ui-g-3 ui-md-3 ui-sm-6">Price:</div>
            <!-- <div class="ui-g-6 ui-md-6 ui-sm-6">${{ product.price }}</div> -->
            <div class="ui-g-6 ui-md-6 ui-sm-6">
                <input class="ui-g-12 form-input" id="price-input" type="text" value="{{product.price}}" pInputText [formControl]="form.controls['price']"/>
            </div>
        </div>

        <!-- <div class="ui-grid-row" *ngIf="isSelected">
            <div class="ui-g-3 ui-md-3 ui-sm-6">Description:</div>
            <div class="ui-g-6 ui-md-6 ui-sm-6">${{ product.price }}</div>
            <div class="ui-g-9 ui-md-9 ui-sm-6">
                <input class="ui-g-12" id="description-input" type="text" value="{{product.description}}" pInputText [formControl]="form.controls['description']"/>
            </div>
        </div> -->

        <div class="ui-grid-row" *ngIf="isSelected">
            <div class="ui-g-3 ui-md-3 ui-sm-12">Description:</div>
            <div class="ui-g-9 ui-md-9 ui-sm-12">
                <textarea 
                    pInputTextarea
                    class="ui-g-12 form-input" 
                    id="description-input" 
                    value="{{product.description}}"
                    [rows]="5" [cols]="30" 
                    autoResize="autoresize"
                    [formControl]="form.controls['description']"
                >
                </textarea>        
            <!-- <input class="ui-g-12" id="description-input" type="text" value="{{product.description}}" pInputText [formControl]="form.controls['description']"/> -->
            </div>
        </div>
        
        <!-- <div class="ui-grid-row" *ngFor="let key of this.propKeys">
            <div class="ui-g-6 ui-md-6 ui-sm-6">{{key}}:</div>
            <div class="ui-g-6 ui-md-6 ui-sm-6">${{ product.price }}</div>
            <div class="ui-g-6 ui-md-6 ui-sm-6">
                <input class="ui-g-12" id="key-input" type="text" value="{{this.properties.get(key)}}" pInputText [disabled]="!editMode" />
            </div>
        </div> -->

        <!-- <div *ngFor="let item of product.additionalInfo.entries()" class="ui-grid-row">
            <div class="ui-g-6 ui-md-6 ui-sm-6">{{ item.key}}:</div>
            <div class="ui-g-6 ui-md-6 ui-sm-6">{{ item.value }}</div>
        </div> -->

        <!-- <p-table
            [value]="params"
            (onEditComplete)="handleEditComplete($event)"    
            (onEdit)="handleEdit()"
            (onEditCancel)="handleEditCancel()"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Параметр</th>
                    <th>Значение</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-param>
                <tr>
                    <td>{{param.header}}</td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="param.value">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ param.value}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
        <div class="ui-grid-row" *ngIf="isSelected">
            <app-product-edit-handler
                [editModeEnabled]="editMode"
                (editModeChanged)="toggleEditMode()"
            >
            </app-product-edit-handler>
        </div>


        <div class="ui-grid-row">
            <!-- <div class="ui-g-12">
                <button pButton type="button" (click)="toggleFullInfo(this.product.id)" label="Show full info"  class="ui-button-info fullwidht-button"></button>    
            </div> -->
            <app-product-fullinfo-toggle-button
                [fullInfoModeEnabled]="isSelected"
                (fullInfoModeChanged)="toggleFullInfo()"
            >    
            </app-product-fullinfo-toggle-button>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12">
                <button pButton type="button" (click)="emitDeleteEvent()" label="Delete product"  class="ui-button-danger fullwidht-button"></button>    
            </div>
        </div>
    </div>
</div>