
.fullwidht-button {
    width: 100%;
}

.product-item {
    border-bottom: 1px solid rgb(209, 202, 202);
}

.product-item:hover {
    background-color: #e9e6e6;
    border: 1px solid rgb(209, 202, 202);
    /* border-radius: 5px; */
}

.buttons-list div {
    float: right;
}

.non-editable .ui-inputtext {
    opacity: 0.7;
}

.ui-inputtext {
    opacity: 1;
}

.form-input {
	padding: 0;
}

textarea {
	/* resize: auto; */
	
}