
.fullwidht-button {
    width: 100%;
}

.product-item {
    border-bottom: 1px solid rgb(209, 202, 202);
}

.product-item:hover {
    background-color: #e9e6e6;
    border: 1px solid rgb(209, 202, 202);
    /* border-radius: 5px; */
}

.buttons-list div {
    float: right;
}

.non-editable .ui-inputtext {
    opacity: 0.7;
}

.ui-inputtext {
    opacity: 1;
}
/* 
#lightbox{
	display:none; 
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width: 300px;
	height: 300px;
	margin:-250px 0 0 -250px;
	background:#fff;
	text-align:center;
    vertical-align: 50%;
	border: 2px solid black; 
}

#lightbox.done #lbContent{
	display:block;
	width: 280px;
	height: 280px;
	border: 10px solid white;
} */
