<!-- <div class="ui-g ui-grid-responsive ui-grid-pad ui-fluid addprods-outer-div"> -->
<div class="ui-g">
  <div class="ui-g-12">
    <button pButton type="button" (click)="toggleFormVisibility()" icon="fa-check" iconPos="right" label="Add new product" style="width: 100%"></button>
  </div>
  <div class="ui-g-12">      
    <form [formGroup]="form" *ngIf="formVisible">
      <p-panel header="New product">
          <div class="inputs-div">
            <div class="ui-grid-row input-item">
              <div class="ui-grid-col-6">
              <label for="titleInput">Title</label>
              </div>
              <div class="ui-grid-col-6">
                <input pInputText type="text" id="titleInput" placeholder="title" [formControl]="form.controls['title']">
              </div>
            </div>

            <div class="ui-grid-row input-item">
              <div class="ui-grid-col-6">
                <label for="priceInput">Price</label>
              </div>
              <div  class="ui-grid-col-6">
                <input pInputText type="text" id="priceInput" placeholder="price" [formControl]="form.controls['price']">
              </div>
            </div>

            <div class="ui-grid-row input-item">
              <div class="ui-grid-col-6">
                <label for="imageSrcInput">Image</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="file" name="imageFile" id="imageSrcInput" accept="image/jpeg,image/png" [formControl]="form.controls['image']"/> 
              </div>
            </div> 
          </div>

          <div class="warning-divs ui-g ui-fluid">
            <p-message severity="error" text="Image is required" *ngIf="noImageWarning" class="centered-text ui-g-12"></p-message>
          </div>

          <div id="add-product-btn-div">
            <button pButton 
                    type="submit" 
                    (click)="addProduct()" 
                    iconPos="right" 
                    label="Add"
                    [disabled]="!form.valid"
                    class="full-width"
            ></button>
          </div>

      </p-panel>
    </form>
  </div>  
</div>